body {
  background-image: url("./pokebkgrd.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

h1 {
  color: whitesmoke;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.timer {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  background-color: tomato;
  border-radius: 50%;
  position: relative;
}

.timer::before {
  content: " ";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 290px;
  width: 290px;
  background-color: #fdfdfd;
  border-radius: 50%;
}

.time {
  width: 100%;
  justify-content: center;
  margin-left: 150px;
}

.time::after {
  content: " ";
  display: block;
  clear: both;
}

#minutes {
  font-size: 2em;
  float: left;
}

#seconds {
  font-size: 1em;
  float: left;
}

.controls {
  position: absolute;
  top: 35px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

button {
  height: 60px;
  width: 60px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 50%;
  font-size: 1.5em;
  border: none;
  color: #fdfdfd;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: " ";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input {
  border: 5px solid rgb(56, 168, 196);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 2em;
  color: rgb(26, 72, 83);
  width: 20%;
  display: flex;
  justify-content: center;
}

.input-group {
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  display: flex;
  margin: auto;
  justify-content: center;
}

.inputs::after {
  content: " ";
  display: block;
  clear: both;
}

.base-timer {
  display: flex;
  margin: auto;
}

.base-timer {
  position: relative;
  height: 400px;
  width: 400px;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;
  color: whitesmoke;
  width: 400px;
  height: 400px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__svg {
  transform: scaleX(-1);
}
